# Python cache
__pycache__/
*.py[cod]

# Entorno virtual
.venv/
venv/

# Archivos de sistema
.DS_Store

# Salidas del proyecto
outputs/


# Archivos temporales
*.log

#calendar
config.local.yaml
data/
